{% extends "../base/base.html" %}

{% block js %}
    <script type="text/javascript" src="/static/js/simple_page/simple_page.js"></script>
{% end %}

{% block page_header %}
    Simple Page
{% end %}

{% block body %}
	{{ text }}


<button id="button1" type="button" class="btn btn-default" aria-label="Left Align">
    button1 <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
</button>

<button id="button2" type="button" class="btn btn-default" aria-label="Left Align">
    button2 <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
</button>

<button id="button3" type="button" class="btn btn-default" aria-label="Left Align">
    button3 <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
</button>


{% end %}
