{% extends "../base/base.html" %}

{% block js %}
    <script type="text/javascript" src="/static/js/simple_page/simple_page.js"></script>
{% end %}

{% block page_header %}
    Simple Page
{% end %}

{% block body %}
	{{ text }}


<button id="not_found_path" type="button" class="btn btn-default" aria-label="Left Align">
    not found /add/point/ <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
</button>

<button id="insert_one_point" type="button" class="btn btn-default" aria-label="Left Align">
    insert one point <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
</button>

<button id="button3" type="button" class="btn btn-default" aria-label="Left Align">
    button3 <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span>
</button>


{% end %}
