{% extends "../../base/base.html" %}

{% block js %}
{% end %}

{% block page_header %}
    {{ text }}
{% end %}

{% block body %}

    <ul class="list-group">
        <li class="list-group-item">
            <a href="/remove/geometry/" class="btn btn-default">
                not found /remove/geometry/ <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/remove/geometry/tb_places/?q=[id=80]" class="btn btn-default">
                remove point with id 80 <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/remove/geometry/tb_places/?q=[id=2]" class="btn btn-default">
                not found point with id 2 <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/remove/geometry/tb_places/?q=all" class="btn btn-default">
                it is not possible remove all points <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
            </a>
        </li>

        <!--

        <li class="list-group-item">
            <a href="/remove/geometry/tb_places/?q=[source=guia]" class="btn btn-default">
                find point with source=guia (default wkt) <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/remove/geometry/tb_places/?q=[id=49]&geom_format=wkt" class="btn btn-default">
                find point with id 49 in wkt <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/remove/geometry/tb_places/?q=[id=45,name=Pref]&geom_format=geojson" class="btn btn-default">
                find point with id 45 and name=Pref in geojson <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/remove/geometry/tb_places/?q=[id=45]&geom_format=wkttt" class="btn btn-default">
                invalid wkttt <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="/remove/geometry/tb_places/dok3" class="btn btn-default">
                sintax error em dok3 <span class="glyphicon glyphicon-collapse-up" aria-hidden="true"></span>
            </a>
        </li>

        -->

    </ul>

{% end %}
