{% extends "../../base/base.html" %}

{% block js %}
    <script type="text/javascript" src="/static/js/example/auth/login.js"></script>
{% end %}

{% block body %}

    <form id="login_form" action="/auth/login/" method="post">
        <fieldset>
            <label for="email"> E-mail </label>
            <input id="email" class="text-input" name="email" type="text" value="">
        </fieldset>

        <fieldset>
            <label for="password"> Password </label>
            <input id="password" class="text-input" name="password" type="password" value="">
        </fieldset>

        <div id="type_login" class="btn-group" data-toggle="buttons">
            <label class="btn btn-success active">
                <input type="radio" name="options" id="normal" value="normal" autocomplete="off" checked> Normal
            </label>
            <label class="btn btn-danger">
                <input type="radio" name="options" id="gmail" value="gmail" autocomplete="off"> Gmail
            </label>
            <label class="btn btn-primary">
                <input type="radio" name="options" id="facebook" value="facebook" autocomplete="off"> Facebook
            </label>
        </div>

        <div id="form_btn">
            {% module xsrf_form_html() %}
            <input id="signin-btn" class="btn btn-blue" type="submit" value="Sign In" tabindex="3">
        </div>
    </form>

{% end %}

<!--

    {% if error %}
        <span style="color: red"> Error: {{ error }} </span><p>
    {% end %}

<form action="/auth/login" method="POST">
    Email: <input name="email" type="text"><br>
    Password: <input name="password" type="password"><br>

    {% module xsrf_form_html() %}
    <input type="submit">
</form>
-->