{% extends "../../base/base.html" %}

{% block js %}
    <!--https://github.com/emn178/js-sha512-->
    <script type="text/javascript" src="/static/js/hash/sha512.min.js"></script>
    <script type="text/javascript" src="/static/js/example/auth/login.js"></script>
{% end %}

{% block css %}
    <link rel="stylesheet" href="/static/libs/font-awesome/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="/static/libs/bootstrap/social-gh-pages/bootstrap-social.css" type="text/css">
{% end %}

{% block body %}

    <div class="btn-group" data-toggle="buttons">
        <a class="btn btn-block btn-social btn-facebook">
            <span class="fa fa-facebook"></span> Sign in with Facebook
        </a>

        <a class="btn btn-block btn-social btn-google">
            <span class="fa fa-google"></span> Sign in with Google
        </a>
    </div>

    <!--action="/auth/login/" method="post"-->

    <form id="login_form">
        <fieldset>
            <label for="email"> E-mail </label>
            <input id="email" class="text-input" name="email" type="text" value="">
        </fieldset>

        <fieldset>
            <label for="password"> Password </label>
            <input id="password" class="text-input" name="password" type="password" value="">
        </fieldset>

        <div id="form_btn">
            {% module xsrf_form_html() %}
            <input id="signin-btn" class="btn btn-blue" type="submit" value="Sign In" tabindex="3">
        </div>
    </form>

{% end %}

<!--

    {% if error %}
        <span style="color: red"> Error: {{ error }} </span><p>
    {% end %}

<form action="/auth/login" method="POST">
    Email: <input name="email" type="text"><br>
    Password: <input name="password" type="password"><br>

    {% module xsrf_form_html() %}
    <input type="submit">
</form>
-->